.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 5px;
  gap: 20px;
}

.header .logo {
  margin-right: auto; 
}

.header img {
  width: 40px;
  height: 20px;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
